@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  }  

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 900px;
    box-sizing: border-box;
}

.header-nav__item a {
    text-decoration: none;
    color: #414042;
    position: relative;
}

.header-nav__item a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #555; 
    transition: all 0.5s;
}

.header-nav__item a:hover::before {
    width: 100%;
}

header {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
}

.header-nav__list {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    list-style-type: none;
}

.main {
    font-family: 'Roboto';
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(2, 1fr);
}

.main-section_left__about h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: #414042;
}

.main-section_left__about h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    color: #414042;
}

.main-section_left__about img {
    width: 160px;
    height: 140px;
    border-radius: 50%;
}

.img-center {
    text-align: center;
    margin-top: 35px;
}

.main-section_left__about-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px 0 25px;
    margin-top: 20px;
}